/*------------------------------------*\
  #Color
\*------------------------------------*/

$black: #161616;
$blue: #324d67;
$gray: #cccccc;
$light-gray: #f1f1f1;
$light-white: #f9f9f9;
$yellow: #eda31d;
$red: #d22f27;
